// Inicio main Contacto

.mainContacto {
    height: map-get($heightMain , contacto);
}

.form {

    margin-top: 10em;
}

.h2contacto {

    color: $colorPrincipal;
}

.btnContacto {

    background-color: $colorPrincipal !important;
    margin-top: 2em;
}



// Fin main Contacto